<% content_for :title do %>
  Alterar conta do usuário
<% end %>

<div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <% flash.now[:notice] = flash[:notice].to_a.concat resource.errors.full_messages %>

          <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "Nome" %>
          </div>

          <div class="form-group input-group">
            <span class="input-group-addon"><i>@</i></span>
            <%= f.email_field :email, class: "form-control", placeholder: "E-mail" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div class="form-group input-group">Esperando confirmação de: <%= resource.unconfirmed_email %></div>
          <% end %>

          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> caracteres no mínimo</em>
          <% end %>
          <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Senha (Deixe em branco se você não que alterar a senha)" %>
          </div>

          <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-repeat"></i></span>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirme sua senha" %>
          </div>

          <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Senha atual (Digite sua senha atual para salvar as altrerações)" %>
          </div>

          <%= f.submit "Salvar",class:"btn btn-primary" %>
          <%= link_to "Sair", groups_path, class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
</div>        
